.jfx-snackbar-content{
    -fx-background-color: darkgray;
}

.jfx-snackbar-toast{
    -fx-text-fill: white;
}

.jfx-snackbar-action{
    -fx-text-fill: red;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}